div#header
    h1 Wordelta
#container
    h1 Welcome
    a#button(href="game", class="green_button") New Game

script(src='javascripts/jquery.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
